.inp-primary {
  border: 2px solid #efefef;
  border-radius: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.inp-primary::placeholder {
  color: #d4d4d4;
  font-size: 0.8rem;
  font-weight: 400;
}
